body {
    overflow-x: hidden;
}
html, body {width: auto!important; overflow-x: hidden!important}
.hero-img {
    overflow: hidden;
    color: black;
    border-radius: 30px;
    overflow-x:hidden;
   
}

.hero-section {
    padding-top: 30px;
 
}

.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: box-shadow 0.3s;
    width: auto;
}

.card:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.list-group-item {
    border: none;
    border-bottom: 1px solid #ddd;
}

a {
    text-decoration: none;
    color: black;
}

.hero-text {
    
    justify-content: center;
    align-items: center;
    font-weight: bold;
    

}


.hero-icons {
   
    display: inline-flex;
}

.hero-buttons .btn-outline {
    border-radius: 20px;
    border: 3px solid black;
    margin: 1rem;
    padding: 0.5rem;
}

.hero-buttons .btn-primary {
    border-radius: 20px;
    background-color: black;
    color: #ffff;
    margin: 1rem;
    
    border: 3px solid black;
}

.hero-icons {
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 1rem;
    
    
}

.hero-icons span {
    padding: 30px;
    width: 50%;
}

.hero-text p, .hero-text h1, .hero-buttons, .hero-icons, .hero-text h2{
    text-align: center;
}



.about-img img {
width: 250px;
border-radius: 10px;
}

.about-content {
text-align: center;
margin-left: 10%;
margin-right: 10%;


}

.about-card {
border: 1px solid #5f5b5b;
border-radius: 10px;
width: 100%;
align-items: center;
justify-content: flex-end;
margin: 1rem;
text-align: center;
padding: 2rem;
height: 100%;
}

.about-card p, .about-card h2, .about-card h3, .about-card h4 {
text-align: center;
align-items: center;
}
.about-card span {
margin-left: 170px;

}

.about-section p, .about-section h1 {
text-align: center;
}
.about-section {
padding-top: 200px;
}

.experience-section p, .experience-section h2 {
text-align: center;
}
.experience-section {

text-align: center;

}

.skill-tab {
border:1px solid black;
border-radius: 10px;
padding: 20px;
margin: 2rem;
}
